.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "JUPITER . SATURNE ."
      ". LA-TERRE . URANUS"
      "MARS . NEPTUNE ."
      ". MERCURE . VENUS";
    position: relative;
  }
  
  .JUPITER {
    grid-area: JUPITER;
    display: flex;
    /* display: contents; */
    justify-content: center;
    align-items: center;
  }
  
  .MARS {
    grid-area: MARS;
    display: flex;
    /* display: contents; */
    justify-content: center;
    align-items: center;
  }
  
  .MERCURE {
    grid-area: MERCURE;
    display: flex;
    /* display: contents; */
    justify-content: center;
    align-items: center;
  }
  
  .NEPTUNE {
    grid-area: NEPTUNE;
    display: flex;
    /* display: contents; */
    justify-content: center;
    align-items: center;
  }
  
  .SATURNE {
    grid-area: SATURNE;
    display: flex;
    /* display: contents; */
    justify-content: center;
    align-items: center;
  }
  
  .LA-TERRE {
    grid-area: LA-TERRE;
    display: flex;
    /* display: contents; */
    justify-content: center;
    align-items: center;
  }
  
  .URANUS {
    grid-area: URANUS;
    display: flex;
    /* display: contents; */
    justify-content: center;
    align-items: center;
  }
  
  .VENUS {
    grid-area: VENUS;
    display: flex;
    /* display: contents; */
    justify-content: center;
    align-items: center;
  }
  
  #carre {
    height: 120px;
    width: 120px;
    background: red;
    -ms-transform: rotate(45deg); 
    -moz-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
    -o-transform: rotate(45deg); 
  }
  